section "Elements (Basic Tests)":

	case "<strong>":
		in:
		<strong>Hello World</strong>

		out:
		**Hello World**

	case "<b>":
		in:
		<b>Hello World</b>

		out:
		**Hello World**

	case "<em>":
		in:
		<em>Hello World</em>

		out:
		*Hello World*

	case "<i>":
		in:
		<i>Hello World</i>

		out:
		*Hello World*

	case "<s>":
		in:
		<s>Delete me</s>

		out:
		~~Delete me~~

	case "<del>":
		in:
		<del>Delete me</del>

		out:
		~~Delete me~~

	case "<a>":

		in:
		<a href="test-link?asdf#123" title="some title">Hello World</a>

		out:
		[Hello World](test-link?asdf#123 "some title")

	case "<img>":

		in:
		<img src="/some-image.png" alt="alt text" title="some title"/>

		out:
		![alt text](/some-image.png "some title")

	case "<p>":

		in:
		<p>This is the first paragraph</p>
		<p>This is the second paragraph</p>

		out:
		This is the first paragraph

		This is the second paragraph

	case "<br>":

		in:
		This is a <br>broken text

		out:
		This is a
		broken text

	case "<ul>":

		in:
		<ul>
			<li>One</li>
			<li>Two</li>
			<li>Three</li>
		</ul>

		out:
		- One
		- Two
		- Three

	case "<ol>":

		in:
		<ol>
			<li>One</li>
			<li>Two</li>
			<li>Three</li>
		</ol>

		out:
		1. One
		2. Two
		3. Three

	case "<hr>":

		in:
		before<hr>after

		out:
		before

		___

		after

	case "<table>":

		in:
		<table>
			<thead>
				<tr>
					<th>Row 1</th>
					<th>Row 2</th>
					<th>Row 3</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 11</td>
					<td>Value 12</td>
					<td>Value 13</td>
				</tr>
				<tr>
					<td>Value 21</td>
					<td>Value 22</td>
					<td>Value 23</td>
				</tr>
			</tbody>
		</table>


		out:

		| Row 1 | Row 2 | Row 3 |
		|---------|
		| Value 11 | Value 12 | Value 13 |
		| Value 21 | Value 22 | Value 23 |

	case "<code>":

		in:
		This is some <code>nice <span>&lt;code&gt;code&lt;/code&gt;</span></code> here

		out:
		This is some `nice <code>code</code>` here

	case "<pre>":

		in:
		<pre><span>&lt;code&gt;Hello World&lt;/code&gt;</span></pre>

		out:
		```
		<code>Hello World</code>
		```

	case "<pre>+<code>":

		in:
		<pre><code><span>&lt;code&gt;Hello World&lt;/code&gt;</span></code></pre>

		out:
		```
		<code>Hello World</code>
		```

	case "<blockquote>":

		in:
		<blockquote>
			<p>Hello <strong>World</strong>.</p>
			<p>Hello <em>John</em>.</p>
			<blockquote>
			nested
			</blockquote>
			<p>End.</p>
		</blockquote>

		out:
		> Hello **World**.
		> 
		> Hello *John*.
		> 
		> > nested
		> 
		> End.

	case "<h1>":

		in:
		<h1>Heading</h1>

		out:
		# Heading

	case "<h2>":

		in:
		<h2>Heading</h2>

		out:
		## Heading

	case "<h3>":

		in:
		<h3>Heading</h3>

		out:
		### Heading

	case "<h4>":

		in:
		<h4>Heading</h4>

		out:
		#### Heading

	case "<h5>":

		in:
		<h5>Heading</h5>

		out:
		##### Heading

	case "<h6>":

		in:
		<h6>Heading</h6>

		out:
		###### Heading