section "<code>, <pre>":

	case "should produce inline code":

		in:
		<div>Hallo <code>console.log("Hello World")</code> Welt</div>

		out:
		Hallo `console.log("Hello World")` Welt

	case "should trim inline code":

		in:
		<div>Hallo <code>   console.log("Hello 
		World")	</code> 
		Welt</div>

		out:
		Hallo `console.log("Hello World")` Welt

	case "should be trimmed":

		in:
		<pre>
			<code>


			console.log('hi');

			</code>
		</pre>

		out:
		```
		console.log('hi');
		```

	case "should work with <pre> only":

		in:
		<pre>
			&lt;ul&gt;
				<span>&lt;li&gt; &lt;/li&gt;</span>
				&lt;li&gt;Second&lt;/li&gt;
				&lt;li&gt;Third&lt;/li&gt;
			&lt;/ul&gt;
		</pre>

		out:
		```
		<ul>
			<li> </li>
			<li>Second</li>
			<li>Third</li>
		</ul>
		```

	case "should keep indentation":

		in:
		<pre>
			<code>
				&lt;ul&gt;
					<span>&lt;li&gt; &lt;/li&gt;</span>
					&lt;li&gt;Second&lt;/li&gt;
					&lt;li&gt;Third&lt;/li&gt;
				&lt;/ul&gt;
			</code>
		</pre>

		out:
		```
		<ul>
			<li> </li>
			<li>Second</li>
			<li>Third</li>
		</ul>
		```

	case "should detect language":

		in:
		<pre class="js">
			<code>
			console.log('hello world');
			</code>
		</pre>

		out:
		```js
		console.log('hello world');
		```

	case "should detect language (2)":

		in:
		<pre>
			<code class="js">
			console.log('hello world');
			</code>
		</pre>

		out:
		```js
		console.log('hello world');
		```

	case "should detect language (3)":

		in:
		<pre class="highlight-source-php">
		console.log('hello world');
		</pre>

		out:
		```php
		console.log('hello world');
		```

	case "should detect language (4)":

		in:
		<div class="highlight-source-php">
			<pre>
			console.log('hello world');
			</pre>
		</div>
		out:
		```php
		console.log('hello world');
		```