section "List":

	case "simple unordered list":

		in: 
		<ul>
			<li>One</li>
			<li>Two</li>
			<li>Three</li>
		</ul>

		out:
		- One
		- Two
		- Three

	case "nested unordered list":

		in:
		<ul>
			<li>One
				<ul>
					<li>One Oh One</li>
					<li>One Oh Two</li>
				</ul>
			</li>
			<li>Two
				<ul>
					<li>Two Oh One</li>
					<li>Two Oh Two
						<ul>
							<li>Two Oh Two Oh One</li>
							<li>Two Oh Two Oh Two</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Three</li>
		</ul>

		out:
		- One
		   - One Oh One
		   - One Oh Two
		- Two
		   - Two Oh One
		   - Two Oh Two
		      - Two Oh Two Oh One
		      - Two Oh Two Oh Two
		- Three


	case "simple ordered list":

		in:
		<ol>
			<li>One</li>
			<li>Two</li>
			<li>Three</li>
		</ol>

		out:
		1. One
		2. Two
		3. Three

	case "nested ordered list":
		in:
		<ol>
			<li>One</li>
			<li>Two
				<ol>
					<li>One</li>
					<li>Two</li>
					<li>Three</li>
				</ol>
			</li>
			<li>Three</li>
		</ol>

		out:
		1. One
		2. Two
		   1. One
		   2. Two
		   3. Three
		3. Three

	case "ordered in unordered list":

		in:
		<ul>
			<li>One</li>
			<li>Two

				<ol>
					<li>One</li>
					<li>Two</li>
					<li>Three</li>
				</ol>
			</li>
			<li>Three</li>

		out:

		- One
		- Two
		   1. One
		   2. Two
		   3. Three
		- Three

	case "should not break on complex DOM":

		in:
		<ul>
			<br><br>
			<li>Test
				<div><div><form><div>Test Wrapped</div><br><br></form><br><br></div></div><br><br>
				<div><br><br>Test 2</div><br><br>
				<ul>
					<br><br>
					<li>Test
						<div><div><form><div>Test Wrapped</div><br><br></form><br><br></div></div><br><br>
						<div><br><br>Test 2</div><br><br>
					</li>
					<br><br>
				</ul>
			</li>
			<br><br>
		</ul>

		out:
		- Test
		Test Wrapped
		Test 2
		   - Test
		Test Wrapped
		Test 2