section "Escape":

	case "Should escape Markdown special chars":

		in:
		<div>- Eins<br/>-Zwei<br/>-Drei</div>
		<div># Hallo Welt</div>
		out:
		\- Eins
		\-Zwei
		\-Drei

		\# Hallo Welt

	case "Should escape '-' only at the beginning of a line":

		in:
		<div>- Eins - Zwei -<br/>4 -</div>

		out:
		\- Eins - Zwei -
		4 -

	case "Should escape '+' only at the beginning of a line":

		in:
		<div>+ Eins + Zwei +<br/>4 +</div>

		out:
		\+ Eins + Zwei +
		4 +

	case "Should escape '.' only at the beginning of a line when followed on a number":

		in:
		<div>1. Erstens<br>Zweitens 2.</div>

		out:
		1\. Erstens
		Zweitens 2.

	case "Should escpape '#' only at the beginning of a line":

		in:
		<div># Hallo # Welt</div>
		out:
		\# Hallo # Welt
