section "Escape":

	case "Should escape Markdown special chars":

		in:
		<div>- One<br/>-Two<br/>-Three</div>
		<div># Hello World</div>
		out:
		\- One
		\-Two
		\-Three

		\# Hello World

	case "Should escape '-' only at the beginning of a line":

		in:
		<div>- One - Two -<br/>4 -</div>

		out:
		\- One - Two -
		4 -

	case "Should escape '+' only at the beginning of a line":

		in:
		<div>+ One + Two +<br/>4 +</div>

		out:
		\+ One + Two +
		4 +

	case "Should escape '.' only at the beginning of a line when followed on a number":

		in:
		<div>1. First<br>Second 2.</div>

		out:
		1\. First
		Second 2.

	case "Should escpape '#' only at the beginning of a line":

		in:
		<div># Hello # World</div>
		out:
		\# Hello # World

	case "Should escape '>' only at the beginning of a line":

		in:
		<p>&gt; Hello World &gt;</p>

		out:
		\> Hello World >