section "transformations":

	case "should move spaces out of elements":

		in:
		<strong> Hello  </strong><em>World </em><a href="test"> Check this </a>.

		out:
		**Hello** *World* [Check this](test "") .

	case "should transform nested strong in em":
		in:
		<em><strong>actors</strong> at the maximum </em>

		out:
		***actors*** *at the maximum* 

	case "should transform nested em in strong":
		in:
		<strong><em>a special </em>strong</strong>

		out:
		***a special*** **strong**