section "transformations":

	case "should move spaces out of elements":

		in:
		<strong> Hello  </strong><em>World </em><a href="test"> Check this </a>.

		out:
		**Hello** *World* [Check this](test "") .
