section "Individual Tests":

	case "&lt;TEXT&gt; should not be interpreted as HTML element":

		in:
		&lt;less&gt; more

		out:
		<less> more

	case "email reply":

		in:
		<div>On Mo, Jun 19, 2017 at 10:43 , Dropper Support &lt;TICKET-HOMK9@some.mail&gt; wrote:</div>

		out:
		On Mo, Jun 19, 2017 at 10:43 , Dropper Support <TICKET-HOMK9@some.mail> wrote: