section "other tests":

	case "&lt;node&gt; should not be interpreted as HTML element":

		in:
		&lt;less&gt; is &lt;more&gt;

		out:
		<less> is <more>

	case "email reply":

		in:
		<div>On Mo, Jun 19, 2017 at 10:43 , Dropper Support &lt;TICKET-HOMK9@some.mail&gt; wrote:</div>

		out:
		On Mo, Jun 19, 2017 at 10:43 , Dropper Support &lt;TICKET-HOMK9@some.mail&gt; wrote:

	case "should not kill whitespace":

		in:
		<b>Some Person</b> 
		<A HREF="test" TITLE="test">some.person at provider.net</A>

		out:
		**Some Person** [some.person at provider.net](test "test")

	case "should keep image url intact":

		in:
		<img src="cid:ED0395D3-E05F-42A6-B31A-6881C3F33198@fritz.box" alt="" style="max-width: 100%;">

		out:
		![](cid:ED0395D3-E05F-42A6-B31A-6881C3F33198@fritz.box "")