section "Distances":

	case "should produce empty line between two block elements":

		in:
		<div>Eins</div>
		<div>Zwei</div>
		<ul>Drei</ul>

		out:
		Eins

		Zwei

		Drei

	case "should product empty line between text and paragraph":

		in:
		Hallo Welt<p>Paragraph</p>

		out:
		Hallo Welt

		Paragraph

	case "should product empty line between paragraph and text":

		in:
		<p>Paragraph</p><span>Hallo Welt</span>

		out:
		Paragraph

		Hallo Welt

	case "should produce a single linebreak":

		in:
		<div>Hallo<br/>Welt</div><p>Hallo<br/>Welt</p>

		out:
		Hallo
		Welt

		Hallo
		Welt

	case "should produce new empty line above and below <hr>":

		in:
		before
		<hr>after<hr/><span>Test</span><hr><p>Paragraph</p>

		out:
		before

		___

		after

		___

		Test

		___

		Paragraph